// .back-video {
//     position: absolute;
//     right: 0;
//     left: 0;
//     bottom: 0;

// }


// #footer {
//     background-color: black;
// }

.services {
    .foot {
        text-align: center;
        text-decoration: none;
        color: aliceblue;
    }
}


